
.select
{
    border: 0;
    padding: 0.6rem 1rem;
    outline: none;
    width: 8rem;
}

.infoText
{
    margin: 0;
    font-size: 0.9rem;
    color:darkgrey;
}

.mainContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}